@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body{
  background: #2B3531!important;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif!important;
}

section{
  background: #2B3531;
  }
  
h1, h2, h3, h4, h5{
  font-family: 'Poppins', sans-serif;
  }
  
#header-art-1{
  position: absolute;
  z-index: -1;
  margin: 0;
  opacity: 0.2;
  top: 0;
  right: 0;
  }
  
#header-art-2{
  position: absolute;
  z-index: -1;
  margin: 0;
  opacity: 0;
  bottom: 0;
  left: 0;
  }

@media only screen and (max-width: 1000px ){
  #header-art-2{
    opacity: 0.2;
    }
  #scroll-down{
    opacity: 0;
    }
  }
  
.particleBg{
  position: absolute;
  }
  
#header-area{
  min-height: 75vh;
  padding: 2vh 0;
  .hacktoberLogo{
    max-width: 100vmin;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100%;
    }
  .amFOSSLogo, .amritaLogo{
    max-width: 10rem;
    min-width: 15vw;
    width: 100%;
    margin: 0;
    }
  .header-title{
    height: 100%;
    }
  h1{
    color: #f0f0f0;
    text-transform: uppercase;
    font-size: calc(1.5rem + 2.5vmax);
    line-height: 110%;
    margin: 0;
    }
  }
  
  h3{
    color: #B53A25;
    font-size: calc(1.2rem + 1.5vmax);
    }

#venue-details{
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 1.3;
  h2{
    color: yellow;
    font-size: calc(1.5rem + 2vmax);
    }
  h3{
    font-size: calc(1.3rem + 1.5vmax);
    }
  .fs-4{
    font-size: calc(1.2rem + 1vmax);
    }
  .fs-5{
    font-size: calc(1.1rem + 0.6vmax);
    }
  .fs-6{
    font-size: calc(1.1rem + 0.4vmax);
    }
  #location-map{
    width: 100%;
    height: 100%;
    min-height: 300px;
    }
  }

.button{
  background-color: #F74700;
  margin-top: 0.5rem;
  padding: 1rem 1.5rem;
  font-weight: 900;
  color: #000;
  text-align: center;
  vertical-align: middle;
  border: none;
  }
  
.button:hover{
  color: black;
  background-color: #B53A25;
  }
  
#scroll-down{
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  height: 5vh;
  width: 5rem;
  transition: all 1s ease-in-out;
  }
#scroll-down img:hover{
  transform: scale(1.1);
  }

@media only screen and (max-width: 1100px ){
  #scroll-down{
    opacity: 0;
    }
  }

#counter{
  min-height: 50vh;
  line-height: 1;
  .part{
    font-size: calc(1.5rem + 5vw);
    color: #F74700;
    text-align: center;
    }
  }
    span{
      display: block;
      margin-top: 0.5rem;
      font-family: 'Poppins', sans-serif;
      font-size: calc(1rem + 2.5vw);
      color: #F74700;
      padding: 0 0rem;
      }
  .button{
    margin-left: 0.5rem;
    }
      
#registration-form{
  background: #f4f0e1;
  h2{
    font-size: calc(1.2rem + 2.5vmax);
    }
    span{
      color: #F74700;
      }
  form{
    margin: 1rem 0;
    .form-control{
      border-radius: 0;
      border: 2px solid black;
      background: none;
      color: black;
      appearance: none;
      }
    .form-check-input{
      background: none;
      width: 1.2rem!important;
      height: 1.2rem!important;
      border: none;
      margin: 0;
      }
    .form-check-label{
      font-size: 80%;
      color: black;
      a{
        color: white;
        }
      }
    option{
      color: black;
      }
    }
  }

#register-btn{
  margin: 0;
  }
  
#learn-more{
  min-height: 40vh;
  padding: 2vh 0;
  }
  span{
    color: #F74700;
    }

#footer-logos{
  img{
    width: 3.5vw;
    min-width: 48px;
    }
  }